################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/glacial_inferno/FileContentIndex/8e201243-2ebf-4df7-a93b-ee95716ff051.vsidx
/.vs/glacial_inferno/FileContentIndex/97dde14d-c7c6-4c01-868e-b85b30d45c51.vsidx
/.vs/glacial_inferno/FileContentIndex/b4cca76a-c57f-405b-bc3f-828ab2a92364.vsidx
/.vs/glacial_inferno/FileContentIndex/c79d18f5-03d3-4e7f-a1ca-6742b417dbce.vsidx
/.vs/glacial_inferno/FileContentIndex/ffd2e08c-1dd3-4b6e-956f-5973aa453a7e.vsidx
