################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/glacial_inferno/FileContentIndex
/.vs
/obj/Debug/net6.0/glacial_inferno.AssemblyInfo.cs
